.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
}

.background {
  width: 100%;
  height: 100vh;
  position: absolute;
  background-color: rgba(0,0,0,0.1);
}

.modal {
  width: 600px;
  height: 600px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  background: #fcfdfd;
  border-radius: 10px;
  position: relative;
  z-index: 2;
}

.tabs {
  width: 100%;
  height: 50px;
}

.tabButton {
  margin: 10px;
  padding: 5px 10px;
  border-radius: 20px;
  font-size: 16px;
  border: solid 2px #1717a8;
  cursor: pointer;
}

.tabButtonActive {
  background: #1717a8;
  color: #fff;
}

.tabButtonDisable {
  background: #e0e0e0;
  color: #000000;
}

.section {
  display: flex;
  flex-direction: column;
  margin: 15px 5px;
  height: 80%;
  overflow: auto;
}

.sectionDiv {
  margin: 5px 10px;
  display: flex;
  align-items: center;
}

.sectionDiv label {
  padding: 5px;
}

.sectionDiv h1 {
  padding: 5px;
  font-size: 16px;
  font-weight: bold;
}

.sectionDiv input, .sectionDiv select {
  padding: 5px;
  border-radius: 10px;
  border: solid 1px #333;
}

.yInterval {
  display: flex;
  align-items: center;
}

.yInterval input {
  width: 60px;
}

.yInterval p {
  margin: 0 10px;
}

.xInterval input {
  width: 70px;
}

.timeUnit {
  margin-left: 5px;
  background: #fff;
}

.autoRange {
  width: 82px;
  margin: 0 0 0 10px !important;
}

.autoRange input {
  width: auto;
}

.autoRange label {
  font-size: 12px;
}

.showAxisLines input {
  margin: 0 5px;
}

.bottomButtons {
  width: 210px;
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 10px;
  padding: 9px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.cancelButton {
  padding: 2px 10px;
  border-radius: 5px;
  font-size: 14px;
  border: solid 1px #1717a8;
  cursor: pointer;
}

.confirmButton {
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 16px;
  border: solid 2px #1717a8;
  background: #1717a8;
  color: #fff;
  cursor: pointer;
}

.elementsList {
  padding: 0 10px;
  list-style: none;
}

.elementsList li {
  display: flex;
  align-items: center;
  margin: 5px 0;
}

.elementsList li p {
  width: 150px;
  margin: 0 5px;
}

.elementsList li button {
  border: none;
  background: transparent;
  display: flex;
  cursor: pointer;
}