.chartPaper {
  flex-grow: 50;
  width: auto;
  display: flex;
  flex-direction: column;
  margin: 0 10px;
  position: relative;
  height: 100%;
}

.chartContainer {
  flex-grow: 50;
  display: flex;
}

.yLegend {
  flex-grow: 1;
}

.chartComponent {
  flex-grow: 50;
  display: flex;
  padding: 10px 20px 10px 35px;
  font-size: 14px;
  box-sizing: border-box;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 300;
  flex-direction: column;
}

.chartTitle {
  width: 100%;
  text-align: center;
  margin-bottom: 5px;
  font-size: 20px;
}

.legendComponent {
  padding: 0;
  display: flex;
  overflow: auto;
}

.legendItemComponent {
  width: 100%;
  display: flex;
  position: relative;
  box-sizing: border-box;
  text-align: left;
  align-items: center;
  padding: 0;
  justify-content: flex-start;
  margin-right: 15px;
  margin-top: 20px;
}

.xAxis {
  width: fit-content;
  position: absolute;
  bottom: 38px;
  left: 50%;
  transform: translateX(-50%);
}

.yAxis {
  width: 42px;
  position: absolute;
  top: 44%;
  left: -3px;
  transform: rotate(-90deg);
}
