.container {
  height: 40px;
  width: 100%;
  margin:0 auto;
}

.timeframe {
  height: inherit;
  width: 90%;
  float: left;
  display: flex;
  align-items: center;
  justify-content: center;
  vertical-align: baseline;
}

.seekbar {
  width: inherit;
}

.options {
  width:10%;
  float:right;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dot {
  height: 10px;
  width: inherit;
  background-color: #ff0000;
  display: inline-block;
}

.dot:hover {
  height: 10px;
  width: inherit;
  background-color: #3700ff;
  display: inline-block;
}

.histButton {
  width: 70%;
  min-height: 30px;
  margin: 5px;
  
}

.controlButton {
  width: 5%;
  min-height: 30px;
}